@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;

  color: #fff;
}

body {
  background: #15202b;
}

h1,
h2 {
  font-weight: bold;
}
img {
  width: 25%;
  height: 100px;
  box-shadow: 0 0 10px #fff;
}
/****************************navbar****************************** */
.logo_navbar {
  margin: 0;
  padding: 0;
  /* width: 38px; */
  /* height: 52px; */
}
.img-fluid {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: auto;
  align-items: center;
  background: #15202b;
  height: 50px;
  width: 90%;
  position: relative;
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  background: #221f33;
  box-shadow: 0 4px 16px rgb(34 31 51 / 32%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 1240px;
  padding-left: calc((100% - 1240px) / 2);
  padding-right: calc((100% - 1240px) / 2);
  box-sizing: content-box;
}

/***************************header****************************** */

.intro h1 {
  color: #fafdff;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  text-shadow: 0 4px 8px rgb(4 4 26 / 16%);
  font-family: Rubik Mono One;
  z-index: 10;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
  text-align: center;
}
.intro h2,
.intro p {
  font-size: 18px;
  line-height: 28px;
  color: #fafdff;
  text-shadow: 0 2px 4px rgb(4 4 26 / 40%);
  z-index: 10;
  margin-bottom: 24px;
  text-align: center;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 79%;
  width: 145px;
  height: 145px;
  bottom: -145px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 36%;
  width: 117px;
  height: 117px;
  bottom: -117px;
  animation-delay: 5s;
}
.background li:nth-child(2) {
  left: 8%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 8s;
}
.background li:nth-child(3) {
  left: 40%;
  width: 125px;
  height: 125px;
  bottom: -125px;
  animation-delay: 3s;
}
.background li:nth-child(4) {
  left: 65%;
  width: 192px;
  height: 192px;
  bottom: -192px;
  animation-delay: 8s;
}
.background li:nth-child(5) {
  left: 37%;
  width: 199px;
  height: 199px;
  bottom: -199px;
  animation-delay: 16s;
}
.background li:nth-child(6) {
  left: 85%;
  width: 110px;
  height: 110px;
  bottom: -110px;
  animation-delay: 11s;
}
.background li:nth-child(7) {
  left: 65%;
  width: 177px;
  height: 177px;
  bottom: -177px;
  animation-delay: 5s;
}
.background li:nth-child(8) {
  left: 47%;
  width: 171px;
  height: 171px;
  bottom: -171px;
  animation-delay: 26s;
}
.background li:nth-child(9) {
  left: 41%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 4s;
}
.background li:nth-child(10) {
  left: 79%;
  width: 120px;
  height: 120px;
  bottom: -120px;
  animation-delay: 15s;
}
.background li:nth-child(11) {
  left: 18%;
  width: 120px;
  height: 120px;
  bottom: -120px;
  animation-delay: 54s;
}
.background li:nth-child(12) {
  left: 59%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 43s;
}
.background li:nth-child(13) {
  left: 14%;
  width: 146px;
  height: 146px;
  bottom: -146px;
  animation-delay: 46s;
}
.background li:nth-child(14) {
  left: 42%;
  width: 166px;
  height: 166px;
  bottom: -166px;
  animation-delay: 9s;
}
.background li:nth-child(15) {
  left: 24%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 30s;
}
.background li:nth-child(16) {
  left: 52%;
  width: 142px;
  height: 142px;
  bottom: -142px;
  animation-delay: 48s;
}
.background li:nth-child(17) {
  left: 53%;
  width: 109px;
  height: 109px;
  bottom: -109px;
  animation-delay: 78s;
}
.container_offer {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.offer {
  text-decoration: none;
  flex-basis: 48%;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  color: #fff;
}
.offer_p {
  width: 100%;
  height: 100%;
  position: absolute;
  text-decoration: none;
  top: 0;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #0676d1);
  opacity: 0;
  transition: 0.6s ease-in;
}
.offer:hover .offer_p {
  opacity: 1;
}
.offer_p h2 {
  margin-top: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*****************************footer*************************************/

footer {
  background: #0676d1;
  padding: 50px 0;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer_container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  padding: 50px 0 100px;
}

.bloc {
  width: 25%;
  margin: 0 30px;
  flex-basis: 50%;
  /* margin-bottom: 10px; */
}
.bloc footer-service,
.bloc footer-contact,
.bloc footer-reseaux {
  width: 30%;
  margin-bottom: 20px;
}
.footer-service h3 {
  font-size: 25px;
  padding-bottom: 20px;
}

.list-services {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.footer-contact p {
  font-size: 20px;
  padding: 5px 0;
}
.liste-services,
.liste-contact,
.liste-social,
.liste-horaire {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}
.liste-services li {
  padding: 2px 0;
}
.liste-services a {
  color: #fff;
  text-decoration: none;
}

.liste-social {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 10px 10px;
}
